<app-subreddit></app-subreddit>
<div class='container'>
    <mat-accordion class="accordion" multi>
    <ul>
        <li *ngFor="let item of data; let i = index">
            <div class='post'>
                <div>{{i}} {{item.data.subreddit }}</div>
                <!--<div class='post-header'>
                    <img class="thumbnail" [src]="item.data.thumbnail" *ngIf="item.data.thumbnail !== 'null'; else elseBlock">
                    <ng-template #elseBlock>
                        <img class="thumbnail" [src]="thumbnailPlaceholder">
                    </ng-template>
                    <a href={{item.data.url}} *ngIf="item.data.is_video || item.data.domain !=='reddit'">{{item.data.title}}</a>
                </div>-->
                
                <div>{{item.data.url}}</div>
                
                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                            <mat-panel-title>
                                <img class="thumbnail" [src]="item.data.thumbnail" *ngIf="item.data.thumbnail !== 'null'; else elseBlock">
                                <ng-template #elseBlock>
                                    <img class="thumbnail" [src]="thumbnailPlaceholder">
                                </ng-template>
                            </mat-panel-title>
                            <mat-panel-description>
                                <a class="post-title" href={{item.data.url}} *ngIf="item.data.is_video || item.data.domain !=='reddit'">{{item.data.title}}</a>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div *ngIf="item.data.selftext_html!=='null'">
                            <p [innerHTML]="item.data.selftext_html"></p>
                        </div>
                        <div class="max-width" *ngIf="item.data.is_reddit_media_domain && item.data.is_video===false">
                            <img  [src]="item.data.url">
                        </div>
                        <div class='video' *ngIf="item.data.domain==='youtu.be' || item.data.domain==='gfycat.com' || item.data.domain==='youtube.com'">
                            <iframe width="auto" height="auto" [src]="item.data.url | sanitizeUrl" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </mat-expansion-panel>

                
            </div>
        </li>
    </ul>
</mat-accordion>
</div>