/* You can add global styles to this file, and also import other style files */
@use 'assets/variables' as v;
body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background: rgb(20, 20, 20);
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
    ul{
        li{
            list-style-type:none;
        }
    }
}

header {
    background: rgb(40, 40, 40);
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }

    nav {
        float: right;
        ul{
            list-style-type: none;
            margin:0;
            display:flex;
            
            li a {
                padding: 1em;

                &:hover {
                    background: darken(black,10%)
                }
            }
        }
    }
}

label{
    margin-right:10px;
}
input{
    margin-right:10px;
}

.accordion {
    mat-expansion-panel{
        background:rgb(40,40,40);

    }
    mat-expansion-panel-header{
        background:rgb(40,40,40);
        margin: 10px 0px 10px 0px;
    }
}

#search-form {
    ::placeholder {
        color:white;
    }
    .mat-input-element {
        color: white;
    }
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-underline {
        background-color: white !important;
        //color: white !important;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    } 

    .mat-select-value-text{
        color:white;
    }
    .mat-select-arrow {
        color:white;
    }

    .mat-form-field.mat-focused {
        .mat-form-field-label {
            color: slategray;
        }
        .mat-form-field-ripple {
            background-color: slategray;
        }
        .mat-form-field-required-marker {
            color: slategray;
        }
        .mat-input-element {
            color: white;
        }
    }

    .mat-form-field.mat-form-field-invalid {
        .mat-input-element {
            color: #ff33cc;
        }
        .mat-form-field-label {
            color: #ff33cc;
            .mat-form-field-required-marker {
                color: #ff33cc;
            }
        }
        .mat-form-field-ripple {
            background-color: #ff33cc;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
