/* You can add global styles to this file, and also import other style files */
@use 'assets/variables' as v;
body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background: rgb(20, 20, 20);
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
    ul{
        li{
            list-style-type:none;
        }
    }
}

header {
    background: rgb(40, 40, 40);
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }

    nav {
        float: right;
        ul{
            list-style-type: none;
            margin:0;
            display:flex;
            
            li a {
                padding: 1em;

                &:hover {
                    background: darken(black,10%)
                }
            }
        }
    }
}

label{
    margin-right:10px;
}



.accordion {
    mat-expansion-panel{
        background:rgb(40,40,40);

    }
    mat-expansion-panel-header{
        background:rgb(40,40,40);
        margin: 10px 0px 10px 0px;
    }
    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
